---
title: Le Wagon - Index
---


<%= partial "layouts/banner" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= partial "layouts/card" %>
    </div>
  </div>
</div>


